<main>
  <div *ngIf="!(afAuth.authState | async)">
    <h1>Login</h1>

    <button mat-raised-button appGoogleSignin>
      <img src="/assets/google-logo.svg" /> Login com o Google
    </button>

    <button mat-raised-button appGuestSignin class="login--guest-btn">
      <mat-icon>person</mat-icon> Login como Convidado
    </button>

    <h5>OU</h5>

    <app-email-login></app-email-login>
  </div>

  <div *ngIf="afAuth.authState | async as user">
    <p *ngIf="!user.isAnonymous">
      Logado como <strong>{{ user.email }}</strong>
    </p>

    <p *ngIf="user.isAnonymous">Logado como Convidado </p>

    <button
      class="btn--board"
      routerLink="/kanban"
      mat-raised-button
      color="accent"
    >
      <mat-icon>dashboard</mat-icon> Go to Board
    </button>

    <br />

    <button mat-stroked-button (click)="afAuth.auth.signOut()">Logout</button>
  </div>
</main>
