<header>
  <img
    class="header--img"
    src="assets/kanban-board.jpg"
    alt="Kanban Board Demo"
  />

  <div class="header">
    <h1 class="header--title">Projeto Integrador</h1>

    <p class="header--subtitle">
      Organize seus projetos e as tarefas de cada equipe
    </p>

    <ul class="header--tags">
      <li class="header--tag">Angular</li>
      <li class="header--tag">Firebase</li>
      <li class="header--tag">Auth</li>
      <li class="header--tag">Firestore</li>
      <li class="header--tag">Univesp</li>
      <li class="header--tag">Projeto Integrador</li>      
    </ul>

    <div class="header--btn-group">
      <button
        routerLink="/login"
        class="btn btn-group--primary"
        mat-raised-button
        color="accent"
      >
        Cadastrar
      </button>
      <button
        routerLink="/login"
        class="btn btn-group--secondary"
        mat-stroked-button
      >
        Login
      </button>
    </div>
  </div>
</header>
